---
import MainLayout from '../../layouts/Layout.astro';
import UnifiedAdminDashboard from '../../components/UnifiedAdminDashboard.jsx';
---

<MainLayout title="Panel de Administración - compassart">
  <div class="container mx-auto px-6 py-12">
    <UnifiedAdminDashboard client:only />
  </div>
</MainLayout>
