/* src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos de nosotros.astro */
.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  text-align: center;
}
.service-item {
  background: var(--white-color);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.service-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 25px rgba(7, 7, 7, 0.12);
}
.service-item h3 {
  font-size: 1.5rem;
  color: var(--secondary-color);
  margin-bottom: 15px;
}
.service-item i {
  font-size: 3rem;
  margin-bottom: 20px;
  color: var(--primary-color);
}

/* Aquí puedes añadir estilos globales personalizados si lo deseas en el futuro */